@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  background-color: #ededed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox {
  min-width: 600px;
  max-width: 700px;
  background-color: white;
  box-shadow: 2px 5px 5px 2px #0000000d;
  border-radius: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px 12px 20px;
}

.searchBar .searchBarIcon {
  width: 24px;
  height: 24px;
}

.searchBar .searchBarInputField {
  flex: 1;
  border: none;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
}

.searchBar .searchBarInputField:focus-visible {
  outline: 0;
}

.searchBar .searchBarInputField::placeholder {
  font-size: 18px;
  color: #9e9d9d;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.searchBar .searchBarRightOptions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchBar .searchBarSIcon {
  position: relative;
  border: 2px solid #ddd;
  padding: 12px 10px;
  border-radius: 8px;
}

.searchBar .searchBarSIcon > p {
  position: absolute;
  top: -2px;
  left: -1px;
  right: -1px;
  bottom: 3px;
  font-size: 13px;
  font-weight: 500;
  color: #7e7e7e;
  font-family: "poppins";
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 0 auto;
}

.searchBar .searchBarQuickText {
  font-size: 11px;
  font-weight: 500;
  color: #7e7e7e;
  font-family: "poppins";
}

.searchBar .searchBarClearBtn {
  cursor: pointer;
  text-decoration: underline;
  color: #333;
  background: none;
  border: none;
  font-weight: 600;
}

.searchBox .TabWithDataBox {
  padding: 0;
}

.searchTabBox {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  border-bottom: 2px solid #dddada;
  padding-right: 20px;
  padding-left: 5px;
}

.searchTabBox .searchTabs {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0px 15px 0px 30px;
}

.searchTabBox .searchTabs > div {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 8px;
}

.searchTabBox .searchTabs .tabsIcon {
  width: 16px;
  height: 16px;
}

.searchTabBox .searchTabs .tab {
  cursor: pointer;
}

.searchTabBox .searchTabs .activeTab {
  border-bottom: 3px #333 solid;
  border-radius: 3px;
  cursor: pointer;
}

.searchTabBox .searchTabs .searchTabsField {
  font-size: 14px;
  font-family: "poppins";
  color: #9e9d9d;
  margin-right: 2px;
}

.searchTabBox .searchTabs .activeTab .searchTabsField {
  font-weight: 600;
  color: #333;
}

.searchTabBox .searchTabs .searchTabsCount {
  font-size: 13px;
  font-family: "poppins";
  font-weight: 500;
  color: #9e9d9d;
  background-color: #e9e5e5;
  padding: 0px 4px;
  margin: 0;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}

.searchTabBox .searchTabsSetting {
  position: relative;
  cursor: pointer;
}

.searchTabBox .searchTabsSetting .settingIconDiv:hover {
  background-color: #f0eaea;
  border-radius: 6px;
}

.searchTabBox .searchTabsSetting .settingIcon {
  width: 20px;
  height: 20px;
  padding: 4px;
}

/* .searchTabBox .searchTabsSetting .settingIcon:hover {
  background-color: #f0eaea;
  border-radius: 6px;
} */

.searchTabBox .searchTabsSetting .settingPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 35px;
  right: 0;
  left: -180px;
  background-color: white;
  padding: 12px;
  border: 1px solid #dddada;
  box-shadow: 2px 5px 5px 2px #0000000d;
  border-radius: 10px;
}

.searchTabBox .searchTabsSetting .settingPopup .settingOption {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchTabBox .searchTabsSetting .settingPopup .settingOption img {
  width: 15px;
  height: 15px;
}

.searchTabBox .searchTabsSetting .settingPopup .settingOption span {
  font-family: "poppins";
  color: #bdbbbb;
  font-size: 14px;
  flex: 1;
}

.searchTabBox .searchTabsSetting .settingPopup .settingOption .settingOpSwitch {
  width: 30px;
  height: 16px;
  background-color: #e9e5e5;
  border-radius: 8px;
  align-content: flex-end;
  position: relative;
  cursor: pointer;
}

.searchTabBox
  .searchTabsSetting
  .settingPopup
  .settingOption
  .settingsOpSwitchOn {
  background-color: black;
}

.searchTabBox
  .searchTabsSetting
  .settingPopup
  .settingOption
  .settingOpSwitch
  label {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  cursor: pointer;
}

.searchTabBox
  .searchTabsSetting
  .settingPopup
  .settingOption
  .settingOpSwitch
  label.settingOptionOff {
  left: 2px;
}

.searchTabBox
  .searchTabsSetting
  .settingPopup
  .settingOption
  .settingOpSwitch
  label.settingOptionOn {
  right: 2px;
}

.searchBoxResult {
  padding: 12px 0px 12px 0px;
  max-height: 400px;
  margin-top: 15px;
}

.searchBoxResultsScroll {
  overflow: scroll;
  scrollbar-width: none;
}

.searchBoxResult .searchBoxResults {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 15px 10px 20px;
  border-bottom: 2px solid #f3f2f2;
}

.searchBoxResult .searchBoxResults.searchedHoveredRow {
  background-color: #f3f3f3;
}

.searchBoxResult .searchBoxResults .searchBoxImgBlock {
  position: relative;
}

.searchBoxResult .searchBoxResults .searchBoxImgBlock .searchDataImg {
  width: 24px;
  height: 24px;
}

.searchBoxResult .searchBoxResults .searchBoxImgBlock .accountStatus {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  bottom: 1px;
  right: -1px;
}

.searchBoxResult .searchBoxResults .searchBoxImgBlock .accountDeactivated {
  background-color: red;
}

.searchBoxResult .searchBoxResults .searchBoxImgBlock .accountActivate {
  background-color: yellow;
}

.searchBoxResult .searchBoxResults .searchBoxImgBlock .accountActiveNow {
  background-color: green;
}

.searchBoxResult .searchBoxResults .searchDataDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.searchBoxResult .searchBoxResults .searchDataDetails .searchDataUpper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.searchBoxResult .searchBoxResults .searchDataDetails .searchDataUpper > p {
  font-weight: 600;
  font-family: "poppins";
  font-size: 14px;
  margin: 0;
}

.searchBoxResult
  .searchBoxResults
  .searchDataDetails
  .searchDataUpper
  > p
  .searchTextToHighlight {
  background-color: rgb(247, 247, 150);
}

.searchBoxResult .searchBoxResults .searchDataDetails .searchDataUpper > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0;
  color: #9e9c9c;
  padding: 2px 4px;
  background-color: #f3efef;
  border-radius: 4px;
  font-weight: 600;
}

.searchBoxResult .searchBoxResults .searchDataDetails .searchDataLower {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #9e9c9c;
}

.searchBoxResult .searchBoxResults .searchDataDetails .searchDataLower > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.searchBoxResult .searchBoxResults .searchDataDetails .searchDataLower p {
  font-family: "poppins";
  font-size: 12px;
  margin: 0;
}

.searchBoxResult .searchBoxResults .searchDataDetails .searchDataLower span {
  width: 4px;
  height: 4px;
  background-color: #9e9c9c;
  border-radius: 2px;
}

.searchBoxResult .searchBoxResults .searchDataLinks {
  display: flex;
  gap: 15px;
  align-items: center;
}

.searchBoxResult .searchBoxResults .searchDataLinks .searchDataLinkCopyBox,
.searchBoxResult .searchBoxResults .searchDataLinks .searchDataNewTabBox {
  display: flex;
  position: relative;
  gap: 5px;
}

.searchBoxResult .searchBoxResults .searchDataLinks .searchDataLinkCopyBox img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.searchBoxResult .searchBoxResults .searchDataLinks .searchDataNewTabBox img {
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.searchBoxResult
  .searchBoxResults
  .searchDataLinks
  .searchDataLinkCopyBox
  label {
  visibility: hidden;
  opacity: 0;
  background: black;
  color: white;
  font-family: "poppins";
  font-size: 10px;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  white-space: nowrap;
}

.searchBoxResult
  .searchBoxResults
  .searchDataLinks
  .searchDataLinkCopyBox:hover
  label {
  visibility: visible;
  opacity: 1;
}

.searchBoxResult .searchBoxResults .searchDataLinks .searchDataNewTabBox span {
  font-family: "poppins";
  font-size: 12px;
  color: #c4c1c1;
}
